<div class="container">
  <div class="row">
      <div class="col-md-12">
          <%= form_for :sub_category, url: sub_category_index_path do |f|%>
            <p><%= f.label :Sub_Category_Name%> <br>
               <%= f.text_field :sub_category_name ,  class: 'form-control'%> <br><br>
               <%= f.select(:category_id, Category.all.collect {|p| [ p.category_name, p.id] })%> <br><br>
               <%= f.submit %>
            </p>
          <% end %>
      </div>
   </div><!--end of row-->
</div>